body {
    margin: 0;
    padding: 0;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

:root {
    --secondary-color: #ff6b6b;
    --primary-color: #fca311;
    --form-control-color: beige;
    --form-control-disabled: #959495;
    --main-bg-color: linear-gradient(163deg, rgba(3,4,3,1) 66%, rgba(64,65,62,1) 100%);
    --form-background: pink;
}

*,
*:before,
*:after {
    box-sizing: border-box;
}

div.selected {
    color: var(--primary-color);
    border: .2em var(--primary-color) solid;
}

h1, h2, h3 {
    color: var(--primary-color);
}

.d-none {
    visibility: hidden;
}

div.changed {
    color: var(--secondary-color);
    transition: all .2s cubic-bezier(.76, .2, .57, .42);
    font-weight: bold;
}
